# Database
POSTGRES_DB=crea_db
POSTGRES_USER=crea
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis
REDIS_PASSWORD=change_me
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_DEFAULT_USER=crea
RABBITMQ_DEFAULT_PASS=change_me

# App
APP_ENV=production

# pgAdmin (optional)
PGADMIN_EMAIL=admin@crea-contenidos.com
PGADMIN_PASSWORD=change_me